*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Playfair Display', serif;
}
.container {
  display: flex;
  justify-content: space-between;
  background-color: #fbfbfc;
  align-items: center;
}

.game-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin: 100px auto;
  width: 1200px;
  box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.34);
  border-top: 5px solid #1C6EA4;
  border-left: 5px solid #1C6EA4;
  border-radius: 5px;
}

.game-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.display-img {
  display: flex;
  justify-content: space-around;
 
}

.declare-winner {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  color: #da477b;
  margin: 40px 0;
}

.images {
  display: flex;
  justify-content: space-between;
}

.paper {
  margin: 0 48px;
}

img {
  width: 200px; 
  height: 200px;
  fill: #da477b;
  stroke: #da477b;
}

.heading {
    color: #d6336c;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 56px;
    letter-spacing: -1.5px;
    text-align: center;
}

.text {
  font-style: italic;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  color: #da477b;
}
